@media screen and (min-width: 900px) and (min-height: 925px) {

    /* PAGE 4 : FUN FACTS UNIQUEMENT */
    /* MEDIA QUERY SPECIFIQUE CAR USAGE DE GRILLE POUR LES FACTS - A MODIFIER SI POSSIBLE */
    .page4 {
        position: relative;
        background-image: url("/ressources/images/chuck-norris-dessin-dos.png");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .page4>h2 {
        margin-bottom: 0;
    }

    .containerFacts1 {
        display: grid;
        grid-template-rows: 80px 80px 80px;
        grid-template-columns: 250px 250px 250px;
        margin-bottom: 0;
    }

    .containerFacts2 {
        display: grid;
        justify-content: space-evenly;
        grid-template-rows: 80px 80px 80px;
        grid-template-columns: 250px 250px 250px;
        margin-bottom: 0;
    }

    .containerFacts3 {
        display: grid;
        justify-content: space-evenly;
        grid-template-rows: 80px 80px 80px;
        grid-template-columns: 250px 250px 250px;
        margin-bottom: 0;
    }

    .facts {
        height: auto;
        width: auto;
        padding: 5px;
        margin: 0;
    }

    .facts p {
        display: flex;
        font-weight: bold;
        font-size: 15px;
    }

    #facts1,
    #facts4,
    #facts7 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #facts2,
    #facts5,
    #facts8 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 0;
    }

    #facts3,
    #facts6,
    #facts9 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        margin-bottom: 0;
    }

    .button {
        display: none;
    }

    .backToTop {
        display: none;
    }

    .containerFooterPage4 {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        bottom: 0;
        padding: 10px;
        position: absolute;
        opacity: 0.8;
        background: #f5cf95;
        border-top: 2px solid rgba(19, 19, 19, 0.8);
    }

    .containerFooterPage4 p {
        color: rgba(0, 0, 0, 1);
        margin: 0;
        padding-left: 10px;
        font-weight: bolder;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
    }

    .creditsPage4 {
        display: block;
        padding-right: 20px;
    }
}

@media screen and (min-width: 900px) and (min-height: 925px) {
  /* PAGE 4 : FUN FACTS UNIQUEMENT */
  /* MEDIA QUERY SPECIFIQUE CAR USAGE DE GRILLE POUR LES FACTS - A MODIFIER SI POSSIBLE */
  .page4 {
    position: relative;
    background-image: url("/ressources/images/chuck-norris-dessin-dos.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .page4 > h2 {
    margin-bottom: 0;
  }

  .containerFacts1 {
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 250px 250px 250px;
    margin-bottom: 0;
  }

  .containerFacts2 {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 250px 250px 250px;
    margin-bottom: 0;
  }

  .containerFacts3 {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 250px 250px 250px;
    margin-bottom: 0;
  }

  .facts {
    height: auto;
    width: auto;
    padding: 5px;
    margin: 0;
  }

  .facts p {
    display: flex;
  }

  #facts1,
  #facts4,
  #facts7 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #facts2,
  #facts5,
  #facts8 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 0;
  }

  #facts3,
  #facts6,
  #facts9 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: 0;
  }

  .button {
    display: none;
  }

  .backToTop {
    display: none;
  }

  .containerFooterPage4 {
    display: inline-flex;
    justify-content: space-between;
    width: 100vw;
    bottom: 0;
    padding: 10px;
    position: absolute;
    opacity: 0.8;
    background: #f5cf95;
  }

  .containerFooterPage4 p {
    color: rgba(0, 0, 0, 1);
    margin: 0;
    padding-left: 10px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
  }

  .creditsPage4 {
    display: block;
    padding-right: 10px;
  }

  /* DISPLAY NONE POUR PAGE 5 MOBILE > DESKTOP, BOUTON RANDOM FACTS & FOOTER PAGE 5 MOBILE > DESKTOP */

  .containerFooterPage5 {
    display: none;
  }

  .page5 {
    display: none;
  }

  .button-random {
    display: none;
  }
}
