html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

HEAD .navbar {
    background: linear-gradient(to right, #1F4071, #C92A27);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}


.burger-icon {
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;

}

.burger-icon spanPage1 {
    display: flex;
    justify-content: right;
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    box-shadow: 0px 2px 2px 0px black;
}

.sidenav {
    /* display: none; */
    position: fixed;
    top: 0;
    right: -100px;
    width: 20vw;
    height: 50%;
    padding: 15px;
    background: linear-gradient(270deg, #C92A27 0%, rgba(201, 42, 39, 0.75) 95.71%);
    border-radius: 15px 0px 0px 15px;
    translate: -100px;
    transition-duration: 0.5s;


}

.sidenav.deroule-menu {
    right: -230px;
    transition-duration: 0.5s;
}

.sidenav li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;


}

.nav-link {
    position: absolute;
    color: #FCFCFC;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: bold;
    text-shadow: #FCFCFC 1px 0 1px;

}

.nav-link::after {
    content: "";
    display: block;
    height: 2px;
    background: #2E2B2B;
    transform: scale(0);
    transition: transform 0.2s ease-in-out
}

.nav-link:hover::after {
    transform: scale(1);
}

.img-vache {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 30px;

}

.banner {
    width: 100%;
    max-height: auto;

}

h1 {
    font-family: 'Rye', cursive;
    font-size: 7vw;
    letter-spacing: 0.15rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

h2 {
    font-family: 'Rye', cursive;
    font-size: 4vw;
    letter-spacing: 0.15rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.portrait {
    display: flex;
    justify-content: center;
}

/*  /// CSS - Pages 2 et 3 \\\  */

.containerPage2 {
    margin: 0, auto;
}

.containerContenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.toggle {
    display: none;
}

.textP2P3 {
    margin: 15% 5% 0 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: bolder;
}

.h1P2P3 {
    font-family: 'Rye', cursive;
    font-size: 1.6em;
    text-decoration: overline;
    margin: 8vh 0 2% 0;
    text-decoration-line: underline overline;
}

.h2P2P3 {
    margin-top: 7%;
    font-family: 'Rye', cursive;
    font-size: 1em;
    width: 65%;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 20px;
    height: 5px;
    color: #fff;
    cursor: pointer;
}

#left {
    position: relative;
    left: 5%;
    top: 50%;
}

#right {
    position: relative;
    right: 2%;
    top: 50%;
}

.arrowRight {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 20px solid #D9D9D9;
}

.arrowLeft {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 20px solid #D9D9D9;
}

.slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/ressources/image/walkOfFame.jpg");
    background-size: 100% 400px;
    background-repeat: no-repeat;
    height: 640px;
}

.slideImg {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.slide:nth-child(4) p {
    margin-top: 9%;
}









/* PAGES 4 & 5 + BOUTON BACK TO TOP + MEDIA QUERIES PAGES 4 & 5 */


/* Page 4 : Fun Facts */


.page4 {
    display: flex;
    flex-direction: column;
    background-image: url("/ressources/images/separated_flag.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.page4>h2 {
    display: flex;
    justify-content: center;
    padding: 5vh;
    text-align: center;
    font-family: 'Rye', cursive;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.containerFacts1 {
    justify-content: space-evenly;
}

.containerFacts2 {
    display: none;
}

.containerFacts3 {
    display: none;
}

.facts {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    line-height: 1.2pc;
    width: 80vw;
    box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.7);
}

.facts p {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.facts:last-child {
    margin-bottom: 250px;
}

/* Bouton Back To Top */

.button {
    display: flex;
    justify-content: center;
}

.another {
    height: 150px;
    width: 150px;
    background-color: darkred;
    color: white;
    border-radius: 80px;
}



/* Page 5 : Not About Chuck */

.page5 {
    display: flex;
    flex-flow: column;
    background-image: url("/ressources/images/chuck-norris-dessin-dos.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* Titre */

.page5>h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: 'Rye', cursive;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/* Crédits et Sources */

.credits {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    justify-content: center;
    padding: 20px;
    font-size: 12px;
    line-height: 1.2pc;
    width: 80vw;
    box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.7);
}

.credits p {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


/* Footer */

.containerFooter {
    width: 100vw;
    bottom: 0;
    position: fixed;
    margin-top: initial;
    opacity: .8;
    background: #F5CF95;
}

.containerFooter p {
    color: rgba(0, 0, 0, 1);
    margin: 0;
    padding: 20px;
    font-weight: bolder;
    font-family: 'Rye', cursive;
}


/* Back To Top */

.backToTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 70px;
    box-shadow: rgba(32, 32, 32, 1);
}

















/* MEDIA SCREEN DESKTOP */

@media screen and (min-width: 600px) {


    /* PAGE 5 : CREDITS ET SOURCES */

    .page5>h2 {
        margin-top: 5%;
    }

    .credits {
        margin-top: 10vh;
        width: 50vw;
    }

    .credits p {
        line-height: 1.5pc;
    }

    .backToTop {
        bottom: 15px;
        right: 25px;
    }
}

@media screen and (min-width: 960px) and (min-height: 925px) {


    /* PAGE 4 : FUN FACTS UNIQUEMENT */
    /* MEDIA QUERY SPECIFIQUE CAR USAGE DE GRILLE POUR LES FACTS - A MODIFIER SI POSSIBLE */

    .page4>h2 {
        margin-bottom: 0;
    }

    .containerFacts1 {
        display: grid;
        grid-template-rows: 80px 80px 80px;
        grid-template-columns: 250px 250px 250px;
        margin-bottom: 0;
    }

    .containerFacts2 {
        display: grid;
        justify-content: space-evenly;
        grid-template-rows: 80px 80px 80px;
        grid-template-columns: 250px 250px 250px;
        margin-bottom: 0;
    }

    .containerFacts3 {
        display: grid;
        justify-content: space-evenly;
        grid-template-rows: 80px 80px 80px;
        grid-template-columns: 250px 250px 250px;
        margin-bottom: 0;
    }

    .facts {
        height: auto;
        width: auto;
        padding: 5px;
        margin: 0;
    }

    .facts p {
        display: flex;
    }

    #facts1,
    #facts4,
    #facts7 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #facts2,
    #facts5,
    #facts8 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-bottom: 0;
    }

    #facts3,
    #facts6,
    #facts9 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        margin-bottom: 0;
    }

    .button {
        display: none;
    }
}