html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

.navbar {
  background: linear-gradient(to right, #1F4071, #C92A27);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.burger-icon {
  position:fixed;
  right: 0px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
}

.burger-icon spanPage1 {
  display: flex;
  justify-content: right;
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  box-shadow: 0px 2px 2px 0px black;
}

.sidenav {
  position: fixed;
  top: 40px;
  right: -120px;
  width: 30vw;
  height: 50%;
  padding: 15px;
  background: linear-gradient(270deg, #C92A27 0%, rgba(201, 42, 39, 0.75) 95.71%);
  border-radius: 15px 0px 0px 15px;
  /* translate: -100px; */
  transition-duration: 0.5s; 
}

.sidenav.deroule-menu {
  /* right: -250px; */
  translate: -120px;
  transition-duration: 0.5s;
}

.sidenav li {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {

  position: absolute;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #FCFCFC;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: bold;
  text-shadow: #FCFCFC 1px 0 1px;
}

/* .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background: #2e2b2b;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1);
} */

.img-vache {

  display: block;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.banner {
  width: 100%;
  max-height: auto;
}


.titre-principal {
  font-family: 'Rye', cursive;
  font-size: 7vw;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 1.7rem;
  margin-bottom: 2.5rem;

}

.Page1-titre-section {
  font-family: 'Rye', cursive;
  font-size: 5vw;
  letter-spacing: 0.15rem;
  display: block;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}


.biographie {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

.portrait {
  display: flex;
  justify-content: center;
}

/*  /// CSS Pages 2 et 3 \\\  */

.containerPage2 {
  margin-top: 20px;
  border-top: 2px solid rgba(128, 128, 128, 0.288);
}

.containerPage3 {
  margin-top: 20px;
  overflow: hidden;
}

.containerContenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* élément page 3 */
.containerContenu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.toggle {
  display: none;
}

.textP2P3 {
  margin: 15% 5% 0 5%;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: bolder;
}

.h1StarMan {
  font-family: "Rye", cursive;
  font-size: 1.6em;
  text-decoration-line: underline overline;
  margin: 20px 0 20px 0;
  text-align: center;
}

.h1P2P3 {
  font-family: "Rye", cursive;
  font-size: 1.2em;
  margin: 4vh 0 3% 0;
}

.h2P2P3 {
  margin: 7% 0 18% 0;
  font-family: "Poppins", sans-serif;
  text-shadow: #d8d6d6 1px 0 1px;
  font-size: 1em;
  width: 65%;
}

.slide:nth-child(4) p {
  margin: 0;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 20px;
  height: 5px;
  color: #fff;
  cursor: pointer;
}

#left {
  position: absolute;
  left: 5vw;
  top: 165vh;
}

#right {
  position: absolute;
  right: 5vw;
  top: 165vh;
}

/* élément page 3 */
#left2 {
  position: absolute;
  left: 5vw;
  top: 278vh;
}

/* élément page 3 */
#right2 {
  position: absolute;
  right: 5vw;
  top: 278vh;
}

.arrowRight {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #d9d9d9;
}

.arrowLeft {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 20px solid #d9d9d9;
}

/* élément page 3 */
.arrowRight2 {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #d9d9d9;
}

/* élément page 3 */
.arrowLeft2 {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 20px solid #d9d9d9;
}

.fondTransp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(230, 228, 228, 0.4);
  height: 100%;
  width: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/ressources/images/walkOfFame.jpg");
  background-size: 100% 350px;
  background-repeat: no-repeat;
  height: 640px;
}

/* élément page 3 */
.slide2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/ressources/images/backgroudHomme.jpg");
  background-size: 100% 350px;
  background-repeat: no-repeat;
  height: 640px;
}

/* élément page 3 */
.slide2 {
  display: none;
}

/* élément page 3 */
.slide2.active {
  display: block;
}

.slideImg {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

/* élément page 3 */
.slideImg2 {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}


/* PAGES 4 & 5 + BOUTON BACK TO TOP + MEDIA QUERIES PAGES 4 & 5 */

/* Page 4 : Fun Facts */

.page4 {
  background: linear-gradient(135deg, #1F4071, #C92A27);
  display: flex;
  flex-direction: column;
  /* background-image: url("/ressources/images/separated_flag.png"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.page4>h2 {
  display: flex;
  justify-content: center;
  padding: 5vh;
  text-align: center;
  font-family: "Rye", cursive;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.containerFacts1 {
  justify-content: space-evenly;
}

.containerFacts2 {
  display: none;
}

.containerFacts3 {
  display: none;
}

.facts {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background: rgba(211, 211, 211, 0.7);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  line-height: 1.2pc;
  width: 80vw;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.7);
}

.facts p {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.facts:last-child {
  margin-bottom: 250px;
}

.containerFooterPage4 {
  display: none;
}

/* Bouton Back To Top */

.button-random {
  display: flex;
  justify-content: center;
}

.another {
  height: 150px;
  width: 150px;
  background-color: darkred;
  color: white;
  border-radius: 80px;
}

/* Page 5 : Not About Chuck */

.page5 {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-image: url("/ressources/images/chuck-norris-dessin-dos.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* Titre */

.page5-h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Rye", cursive;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/* Crédits et Sources */

.credits {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  background: rgba(211, 211, 211, 0.7);
  border-radius: 5px;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
  line-height: 1.2pc;
  width: 80vw;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.7);
}

.credits p {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

/* Footer */

.containerFooterPage5 {
  width: 100vw;
  bottom: 0;
  position: absolute;
  margin-top: initial;
  opacity: 0.8;
  background: #f5cf95;
}

.containerFooterPage5 p {
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 20px;
  font-weight: bolder;
  font-family: "Rye", cursive;
}

/* Back To Top */

.backToTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 70px;
  box-shadow: rgba(32, 32, 32, 1);
}



/* MEDIA SCREEN DESKTOP */

@media screen and (min-width: 600px) {
  /* PAGE 5 : CREDITS ET SOURCES */

  .page5 {
  display: none;
  }
}

@media screen and (min-width: 960px) and (min-height: 925px) {
  /* PAGE 4 : FUN FACTS UNIQUEMENT */
  /* MEDIA QUERY SPECIFIQUE CAR USAGE DE GRILLE POUR LES FACTS - A MODIFIER SI POSSIBLE */
  .page4 {
    background-image: url("/ressources/images/chuck-norris-dessin-dos.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .page4>h2 {
    margin-bottom: 0;
  }

  .containerFacts1 {
    display: grid;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 250px 250px 250px;
    margin-bottom: 0;
  }

  .containerFacts2 {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 250px 250px 250px;
    margin-bottom: 0;
  }

  .containerFacts3 {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 250px 250px 250px;
    margin-bottom: 0;
  }

  .facts {
    height: auto;
    width: auto;
    padding: 5px;
    margin: 0;
  }

  .facts p {
    display: flex;
  }

  #facts1,
  #facts4,
  #facts7 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #facts2,
  #facts5,
  #facts8 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 0;
  }

  #facts3,
  #facts6,
  #facts9 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: 0;
  }

  .button {
    display: none;
  }

  .backToTop {
    display: none;
  }

  .containerFooterPage4 {
    display: inline-flex;
    justify-content: space-between;
    width: 100vw;
    bottom: 0;
    padding: 10px;
    position: fixed;
    opacity: 0.8;
    background: #f5cf95;
  }
  
  .containerFooterPage4 p {
    color: rgba(0, 0, 0, 1);
    margin: 0;
    padding-left: 10px;
    font-weight: bolder;
    font-family: "Rye", cursive;
    z-index: 2;
  }

  .creditsPage4 {
    display: block;
    padding-right: 10px;
  }
}