.containerPage3 {
  display: flex;
  overflow: hidden;
  margin: 0, auto;
}

.containerContenu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#left2 {
  position: absolute;
  left: 5vw;
}

#right2 {
  position: absolute;
  right: 5vw;
}

.arrowRight2 {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #d9d9d9;
}

.arrowLeft2 {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 20px solid #d9d9d9;
}

.slide2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/ressources/images/backgroudHomme.jpg");
  background-size: 100% 400px;
  background-repeat: no-repeat;
  height: 640px;
}

.slide2 {
  display: none;
}

.slide2.active {
  display: block;
}

.slideImg2 {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.fondTransp2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(230, 228, 228, 0.4);
  height: 100%;
  width: 100%;
}

p {
  margin: 15% 5% 0 5%;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: bolder;
}

